body {
    font: normal 12px sans-serif;
}

table {
    border: 0;
}

.c-intro {
    display: none;

    text-align: center;
}

    .c-intro.c--shown {
        display: block;
    }

.c-game-panel {
    display: none;
}

    .c-game-panel.c--shown {
        display: block;
    }

.sectionTemplate {
    display: none;
}

#en-messages, #jp-messages {
    display: none;
}

.c-filters__listing {
    clear: both;

    width: 100px;
    height: 400px;

    overflow: auto;

}

    .c-filters__listing > a {
        display: none;

        padding: 5px;
        margin: 2px;

        font-size: 14px;
        text-decoration: none;

        color: #000;
        background-color: #eee;
    }

        .c-filters__listing > a.c--shown {
            display: block;
            background-color: #eee;
        }

        .c-filters__listing > a.c--active {
            background-color: #5e92ff;
            color: #fff;
        }

    .c-filters__listing-item {
        display: block;
    }

.c-filters {
}

    .c-filters__navigation {
        display: block;
    }

        .c-filters__navigation-control {
            padding: 10px;
            display: block;
            color: #000;
            background: #eee;
            margin: 1px 0 1px 0;
            text-decoration: none;
            text-align: center;
            font-size: 12px;
            font-weight: bold;
        }

    .c-filters__status {
        display: none;

        padding: 10px;
        margin: 1px 0;

        background: #eee;
        text-align: center;
    }

        .c-filters__status.c--active {
            display: block;
        }

    .c-filters__search {
        padding: 10px;
        text-align: center;

        background: #eee;
    }

        .c-filters__search-input {
            padding: 5px;
        }

        .c-filters__search-submit {
            padding: 5px;
        }

#sections {
    padding-bottom: 100px;
}

    #sections .it {
        display: none;
    }

    #sections table {
        width: 100%;
    }

    #sections th {
        width: 50%;

        font-weight: bold;
        font-size: 20px;
        line-height: 20px;

        border-bottom: 3px solid #aaa;
    }

    #sections td {
        padding-bottom: 10px;

        vertical-align: top;
    }


#tts {
    visibility: hidden;
}

.c-message {
}

    .c-message__key {
        margin-bottom: 10px;
        padding: 5px;

        background: #eee;
        text-align: center;
    }

        .c-message__key.c--active {
            background: #ffffb5;
        }

    .c-message__value {
    }

        .c-message__group {
            width: 400px;
        }

        .c-message__group span {
            margin: 0 2px;

            font-size: 1px;
        }

        .c-message__group .c-message__text {
            padding: 0 5px;
            margin: 0;

            background: #eee;
            font-size: 16px;
            line-height: 20px;
        }

            .c-message__text.c--active {
                background: #ffffb5;
            }

    .c-message__group-play {
        display: inline-block;

        padding: 0 5px;

        font-weight: bold;
    }

    .c-message__group.c--active {
        background-color: #ddd;
    }

.c-primary-sidebar, .c-main, .c-secondary-sidebar {
    float: left;
}

.c-primary-sidebar {
    position: fixed;

    top: 10px;
    left: 10px;

    width: 20%;
}

.c-secondary-sidebar {
    position: fixed;

    top: 0;
    right: 0;

    width: 20%;

    padding: 10px;

    background: #fff;
}

.c-main {
    margin-left: 20%;
    margin-right: 20%;

    padding: 0 20px 20px 20px;
}

.c-alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    display: none;
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
}

    .c-alert.c--shown {
        display: inline-block;
    }

.c-menu {
    display: none;
}

    .c-menu.c--shown {
        display: block;
    }

.c-footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    text-align: center;

    background: #fff;
}
