.c-nav {
  
}

.c-nav__item {
    padding: 12px 0;
}

.c-nav__link {
    text-transform: uppercase;
    padding: 10px;
    font-weight: bold;
    color: #949494;
    font-size: 14px;
}

.c-nav__link:hover {
    color: #fff;
}
